%section.yace.navigation
  .page-name
    %h1= @page_name || "Chat app demo"

  .log-out.user-info
    - unless params[:action] == "index"
      |
      = link_to("all rooms", root_path)

    - unless params[:action] == "subscriptions"
      |
      = link_to("my rooms", subscriptions_rooms_path)

    - if @current_user.present?
      |
      = link_to "log out #{@current_user.name}", session_path, method: :delete
